.vs/IrisData/v17/.suo
.vs/IrisData/v17/DocumentLayout.backup.json
.vs/IrisData/v17/DocumentLayout.json
bin/Debug/net8.0/IrisData.dll
bin/Debug/net8.0/IrisData.exe
bin/Debug/net8.0/IrisData.pdb
obj/Debug/net8.0/IrisData.AssemblyInfo.cs
obj/Debug/net8.0/IrisData.AssemblyInfoInputs.cache
obj/Debug/net8.0/IrisData.csproj.FileListAbsolute.txt
obj/Debug/net8.0/IrisData.dll
obj/Debug/net8.0/IrisData.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/ref/IrisData.dll
obj/Debug/net8.0/refint/IrisData.dll
.vs/IrisData/FileContentIndex/108c2f8f-d435-4849-b49e-085c5b082624.vsidx
.vs/IrisData/FileContentIndex/4a3fbc4e-3bc9-4595-bd8f-c2fb6ac2bb99.vsidx
.vs/IrisData/FileContentIndex/e0b1558a-c91d-4cd3-a434-360ba13a6e01.vsidx
obj/Debug/net8.0/IrisData.sourcelink.json
.vs/IrisData/FileContentIndex/*.vsidx
